@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #242524;
}


li, a, button{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.logo{
    cursor: pointer;
}

.nav_links{
    list-style: none;
}
.nav_links li{
    display: inline-block;
    padding: 0px 20px;
}
.nav_links li a{
    transition: all 0.3s ease 0s;
}
.nav_links li a:hover{
    color: #0088a9;
}
button{
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
button:hover{
    background-color: rgba(0, 136, 169, 0.8);
}



/*---------------------- Main Body-------------------------- */
.product-image{
  width: 30%;

}







/* footer */

footer{
    background-color:#c2c5c2 ;
    line-height: 24px;
    color:#edf0f1;
}
footer .art{
    background-color: #242524;
    padding: 16px;
    padding-top: 48px;
    clip-path: polygon(0% 5% 15% 0%, 100% 10%, 100% 100%, 0% 100%);
}

footer .content{
    max-width: 1080px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}
footer header{
    font-size: 21px;
    padding-block: 16px;
}
footer .content a{
    display: block;
    padding-block: 12px;
    color: #edf0f1;
    opacity: 0.65;
}
footer .content a:hover{
    opacity: 1;
    color: springgreen;
    font-size: 18px;
}

footer input{
    border-style: solid;
    line-height: 24px;
    padding: 12px 16px;
    font-size: 1rem;
    width: 100%;
    margin-block: 8px;
    border-radius: 8px;
    border-width: 2px;
}

footer input[type="email"]{
    background-color: transparent;
    border-color: violet;
    color: violet;
}

footer input[type="email"]:hover,
footer input[type="email"]:focus{
    border-color: springgreen;
    color: springgreen;
}

footer input[tyep="submit"]{
    background-color: #242524;
    color: #c2c5c2;
    text-transform: uppercase;
    border: none;
}
footer input[tyep="submit"]:hover{
    background-color: yellowgreen;
}
footer .social{
    margin-block: 16px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 16px;
}
footer .social i{
    font-size: 32px;
    padding: 12px;
    text-align: center;
    border: 1px solid  yellowgreen;
    border-radius: 8px;
    width: 100%;
}
footer .social i:hover{
    color: springgreen;
    border-color: springgreen;
    box-shadow: 0px 0px 16px inset violet;
}

/* carousel play */
body .slider{
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #23E3C9;
}

.slider{
  width: 800px;
  height: 500px;
  border-radius: 10px;
  overflow: hidden;
}

.slides{
  width: 500%;
  height: 500px;
  display: flex;
}

.slides input{
  display: none;
}

.slide{
  width: 20%;
  transition: 2s;
}

.slide img{
  width: 800px;
  height: 500px;
}

/*css for manual slide navigation*/

.navigation-manual{
  position: absolute;
  width: 800px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.manual-btn{
  border: 2px solid #40D3DC;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child){
  margin-right: 40px;
}

.manual-btn:hover{
  background: #40D3DC;
}

#radio1:checked ~ .first{
  margin-left: 0;
}

#radio2:checked ~ .first{
  margin-left: -20%;
}

#radio3:checked ~ .first{
  margin-left: -40%;
}

#radio4:checked ~ .first{
  margin-left: -60%;
}

/*css for automatic navigation*/

.navigation-auto{
  position: absolute;
  display: flex;
  width: 800px;
  justify-content: center;
  margin-top: 460px;
}

.navigation-auto div{
  border: 2px solid #40D3DC;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.navigation-auto div:not(:last-child){
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
  background: #40D3DC;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
  background: #40D3DC;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
  background: #40D3DC;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
  background: #40D3DC;
}
      



/* details page */

.image-main{
  width: 30%;
}
#all-images img{
  width: 50px;
}





/* checkout page */

.cart-items-image img{
  width: 50px;
}